/*
 * Globals
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

html,
body {
  height: 100%;
}

body {
  color: dimgrey;
  text-align: center;
  display:flex;
  align-items:center;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('assets/portfolio_spread.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.name {
  font-family: 'Permanent Marker', cursive;
  color: red;
}

/* small phones portrait */
@media (max-width: 576px) {
  .container {
    margin-top: 350px;
  }
  video {
    top: 70%;
  }
}

/* small phones landscape */
@media (min-width: 576px) and (orientation: landscape) {
  .container {
    margin-top: 550px;
  }
  video {
    top: 115%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
  video {
    top: 50%;
  }
 }